/*Dentro do CSS, existem regras de especificidades e cascatas que definem qual bloco de declaração será executada*/
.prioridade {
    color: rgb(207, 40, 40);
}

p {
    color: slateblue;
}

/*Uso de funções dentro de uma declaração*/
.moldura {
    border: 5px solid black;
}
.testando-funcao {
    padding: 10px;
    width: calc(90% - 50px);
    background-color: rebeccapurple;
    color: white;
}

.box {
    margin: 30px;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    transform: rotate(0.87turn)
  }

/*utilizando funções para gerar regras de execução para os blocos de declaração*/ 
@media (min-width: 30em) {
    body {
      background-color: blue;
    }
  }
