* {
    font-family: Poppins, 'sans-serif', Arial;
}

.dataloss {
    border: 1px solid black;
    width: 500px;
    height: 200px;
}

/*ATRIBUTOS DO OVERFLOW*/
#esconder {
    overflow: hidden;
}

#rolagem {
    overflow: scroll;
}

#personalizado {
    overflow: auto;
}

/*FOOTER*/
footer {
    text-align: center;
}